.fi-converse-conversation-thread {
    @apply flex max-h-[calc(100vh-10rem)] min-h-[calc(100vh-10rem)] flex-1 flex-col rounded-xl bg-white shadow-sm ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10;

    &:has(.fi-converse-is-dragging-attachment) {
        @apply relative ring-primary-700 dark:ring-primary-600 relative ring-2;
    }

    & .fi-converse-upload-modal-overlay {
        @apply absolute inset-0 flex items-start justify-center pt-40;

        & .fi-converse-upload-modal-backdrop {
            @apply absolute inset-0 z-10 rounded-xl bg-gray-950/20 dark:bg-gray-950/50;
        }

        & .fi-converse-upload-modal {
            @apply max-w-2/3 sm:max-w-1/3 md:max-w-1/3 lg:max-w-1/3 xl:max-w-1/3 relative z-10 flex w-full flex-col items-center justify-center rounded-xl bg-white p-6 shadow-xl ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10;

            & .fi-converse-upload-modal-header {
                @apply mb-5 flex items-center justify-center;

                & .fi-converse-upload-modal-icon-bg {
                    @apply rounded-full bg-gray-100 p-3 dark:bg-gray-500/20;

                    & > .fi-icon {
                        @apply text-gray-500 dark:text-gray-400;
                    }

                    &.fi-color {
                        @apply bg-color-100 dark:bg-color-500/20;

                        & > .fi-icon {
                            @apply text-color-600 dark:text-color-400;
                        }
                    }
                }
            }

            & .fi-converse-upload-modal-content {
                @apply flex w-full flex-col items-center gap-y-2 text-center;

                & .fi-converse-upload-modal-heading {
                    @apply w-full break-words font-semibold leading-6 text-gray-950 dark:text-white;
                }

                & .fi-converse-upload-modal-description {
                    @apply w-full break-words text-sm text-gray-500 dark:text-gray-400;
                }
            }
        }
    }

    & .fi-converse-conversation-thread-header {
        @apply min-h-1/8 flex flex-shrink-0 flex-wrap items-center gap-4 border-b border-gray-200 p-6 dark:border-white/10;

        & .fi-converse-conversation-thread-header-content {
            @apply flex min-w-0 flex-1 items-center gap-4;

            & .fi-converse-conversation-thread-header-expand-list-button {
                @apply block flex-shrink-0 lg:hidden;
            }

            & .fi-converse-conversation-thread-header-heading {
                @apply truncate text-xl font-bold leading-6 text-gray-950 dark:text-white;
            }
        }

        & .fi-converse-conversation-thread-header-actions {
            @apply flex items-center gap-2;
        }
    }

    & .fi-converse-conversation-thread-content {
        @apply flex min-h-0 flex-1 flex-col overflow-y-auto pt-6;

        &.fi-converse-relative {
            @apply relative;
        }

        &
            .fi-converse-conversation-thread-messages-load-more-message-loading-indicator {
            @apply flex w-full items-center justify-center pb-2;
        }

        & .fi-converse-conversation-thread-messages-content-footer {
            @apply mt-auto flex min-h-10 items-center px-5;
            content: '';

            &
                .fi-converse-conversation-thread-messages-users-typing-loading-indicator {
                @apply flex max-w-full items-center gap-2 text-sm text-gray-600 dark:text-gray-400;

                & .typing-message {
                    @apply truncate;
                }

                & .typing-dots-container {
                    @apply flex gap-1;
                }

                & .typing-dot {
                    @apply size-1 rounded-full bg-gray-400 dark:bg-gray-500;
                    animation: typing-dot 1s infinite;
                }

                & .typing-dot:nth-child(2) {
                    animation-delay: 0.1s;
                }

                & .typing-dot:nth-child(3) {
                    animation-delay: 0.2s;
                }
            }
        }

        & .fi-converse-conversation-thread-upload-validation-message-container {
            @apply bg-danger-100/95 dark:bg-danger-500/30 sticky -top-6 -mt-6 flex w-auto items-center justify-center px-3 py-1.5;

            & > p {
                @apply w-full break-words text-center text-sm text-gray-500 dark:text-gray-400;
            }

            &
                .fi-converse-conversation-thread-upload-validation-message-close-button {
                @apply ml-auto self-start;
            }
        }

        & .fi-converse-conversation-thread-message-container:first-of-type {
            @apply mt-0;
        }

        & .fi-converse-conversation-thread-message-container {
            @apply mt-3 flex flex-col gap-1 px-4;

            & .fi-converse-conversation-thread-new-messages-divider-content {
                @apply text-primary-600 dark:text-primary-400 flex w-full items-center gap-3 py-1 text-xs;

                &
                    .fi-converse-conversation-thread-unread-messages-divider-separator {
                    @apply bg-primary-600 dark:bg-primary-400 h-px flex-1;
                }

                &
                    .fi-converse-conversation-thread-unread-messages-divider-text {
                    @apply max-w-1/3 flex-shrink-0 text-center;
                }
            }

            & .fi-converse-conversation-thread-message-divider-content {
                @apply flex w-full items-center justify-center text-xs text-gray-600 dark:text-gray-400;
            }

            & .fi-converse-conversation-thread-message-layout {
                @apply flex w-full gap-3;

                & .fi-converse-conversation-thread-message-avatar {
                    @apply self-end;
                }

                & .fi-converse-conversation-thread-message-content {
                    @apply flex flex-1 flex-col gap-1;

                    & .fi-converse-conversation-thread-message-heading {
                        @apply max-w-4/5 flex flex-wrap items-center gap-x-2 gap-y-1 overflow-hidden text-xs text-gray-600 dark:text-gray-400;

                        & > * {
                            @apply min-w-0 hyphens-auto break-words;
                        }
                    }

                    & .fi-converse-conversation-thread-message-body-container {
                        @apply flex w-fit gap-3;

                        & .fi-converse-conversation-thread-message-body {
                            @apply bg-color-100 max-w-4/5 dark:bg-color-400/10 flex min-w-14 flex-1 flex-col self-start rounded-xl px-3 py-1;

                            & > p {
                                @apply wrap-anywhere text-sm leading-6;
                            }

                            &
                                .fi-converse-conversation-thread-message-attachments {
                                @apply max-w-74 w-full min-w-0 py-2;

                                &.fi-converse-conversation-thread-message-attachments-with-generic-attachments {
                                    @apply grid gap-3;
                                    grid-template-columns: repeat(
                                        auto-fill,
                                        minmax(3rem, 1fr)
                                    );
                                }

                                &:not(
                                    .fi-converse-conversation-thread-message-attachments-with-generic-attachments
                                ) {
                                    @apply flex flex-wrap gap-1.5;
                                }
                            }
                        }

                        & .fi-converse-conversation-thread-message-actions {
                            @apply flex items-center gap-3 opacity-0 group-hover:opacity-100;
                        }
                    }
                }
            }

            & .fi-converse-conversation-thread-read-receipt {
                @apply flex w-full items-center justify-end overflow-hidden text-xs text-gray-600 dark:text-gray-400;

                & > span {
                    @apply max-w-1/2 hyphens-auto break-words;
                }
            }

            &.fi-converse-conversation-thread-message-container-reversed {
                & .fi-converse-conversation-thread-message-layout {
                    @apply flex-row-reverse self-end;

                    & .fi-converse-conversation-thread-message-heading {
                        @apply flex-row-reverse self-end;
                    }

                    & .fi-converse-conversation-thread-message-body-container {
                        @apply flex-row-reverse self-end;
                    }

                    & .fi-converse-conversation-thread-message-body {
                        @apply self-end;
                    }
                }

                & .fi-converse-conversation-thread-message-heading {
                    @apply flex-row-reverse;
                }
            }
        }

        &:has(.fi-converse-conversation-thread-empty-state) {
            @apply px-6;
        }

        & .fi-converse-conversation-thread-empty-state {
            @apply flex flex-1 items-center;
        }
    }

    & .fi-converse-conversation-thread-footer-wrapper {
        @apply min-h-1/8 flex flex-shrink-0 flex-col border-t border-gray-200 dark:border-white/10 p-6;

        & .fi-sc {
            @apply divide-y-0 p-0.5;

            & .fi-sc-actions {
                @apply dark:bg-white/5;
            }
        }

        & .fi-converse-attachment-area {
            @apply flex max-h-22 flex-wrap gap-3 overflow-y-auto dark:bg-white/5;

            &.fi-converse-attachment-area-has-content {
                @apply p-3;
            }
        }
    }

    & .fi-converse-image-attachment-container {
        @apply relative h-16 w-16;

        &.fi-converse-image-attachment-container-grid {
            @apply col-span-1;
        }

        & .fi-converse-image-attachment {
            @apply h-full w-full rounded-xl object-cover;
        }

        & .fi-converse-image-attachment-remove-button {
            @apply absolute right-1 top-1 text-white;
        }

        & .fi-converse-image-attachment-skeleton {
            @apply flex h-full w-full animate-pulse items-center justify-center rounded-xl bg-white/5 p-2 shadow-sm ring-1 ring-gray-950/5 dark:bg-gray-900/50 dark:ring-white/10;
        }
    }

    & .fi-converse-generic-attachment-container {
        @apply flex h-16 w-full gap-3 rounded-xl bg-white/5 p-2 shadow-sm ring-1 ring-gray-950/5 dark:bg-gray-950/50 dark:ring-white/10;

        &.fi-converse-generic-attachment-container-grid {
            @apply min-w-70 col-span-full bg-white ring-gray-300 dark:bg-gray-900 dark:ring-gray-700;
        }

        &.fi-converse-attachment-adaptable-width {
            @apply sm:w-[calc((100%_-_theme(spacing.3))_/_2)] md:w-[calc((d100%_-_theme(spacing.3))_/_2)] lg:w-[calc((100%_-_theme(spacing.3)_*_2)_/_3)] xl:w-[calc((100%_-_theme(spacing.3)_*_2)_/_3)];
        }

        & .fi-converse-generic-attachment-image {
            @apply w-12 shrink-0 rounded-xl object-cover;
        }

        & .fi-converse-attachment-icon {
            @apply rounded-full bg-gray-100 p-3 dark:bg-white/5;
        }

        & .fi-converse-attachment-information-container {
            @apply flex w-full min-w-0;

            &.fi-converse-attachment-has-mime-type-name {
                @apply flex-col gap-2;

                & .fi-converse-attachment-mime-type-badge {
                    @apply w-fit;
                }
            }

            &:not(.fi-converse-attachment-has-mime-type-name) {
                @apply items-center;
            }

            & .fi-converse-attachment-name {
                @apply truncate text-sm leading-6 text-gray-950 dark:text-white;
            }
        }

        & .fi-converse-generic-attachment-skeleton {
            @apply h-12 w-12 flex-shrink-0 animate-pulse rounded-full bg-gray-200 p-3 dark:bg-white/10;
        }

        & .fi-converse-attachment-information-container-skeleton {
            @apply flex w-full min-w-0 animate-pulse flex-col justify-center gap-3;

            & .fi-converse-attachment-name-skeleton {
                @apply h-3 w-3/4 animate-pulse rounded-md bg-gray-200 dark:bg-white/10;
            }

            & .fi-converse-attachment-mime-type-badge-skeleton {
                @apply h-3 w-1/2 animate-pulse rounded-md bg-gray-200 dark:bg-white/10;
            }
        }
    }
}

@keyframes typing-dot {
    0%,
    60%,
    100% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-0.5rem);
    }
}
