.fi-converse-conversation-thread {
    @apply flex max-h-[calc(100vh-10rem)] min-h-[calc(100vh-10rem)] flex-1 flex-col rounded-xl bg-white shadow-sm ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10;

    &.fi-converse-highlight-conversation-thread {
        @apply ring-primary-700 dark:ring-primary-600 relative ring-2;
    }

    & .fi-converse-attachment-modal-overlay {
        @apply absolute inset-0 flex items-start justify-center pt-40;

        & .fi-converse-attachment-modal-backdrop {
            @apply absolute inset-0 z-10 rounded-xl bg-gray-950/20 dark:bg-gray-950/50;
        }

        & .fi-converse-attachment-modal {
            @apply max-w-2/3 sm:max-w-1/3 md:max-w-1/3 lg:max-w-1/3 xl:max-w-1/3 relative z-10 flex w-full flex-col items-center justify-center rounded-xl bg-white p-6 shadow-xl ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10;

            & .fi-converse-attachment-modal-header {
                @apply mb-5 flex items-center justify-center;

                & .fi-converse-attachment-modal-icon-bg {
                    @apply rounded-full bg-gray-100 p-3 dark:bg-gray-500/20;

                    & > .fi-icon {
                        @apply text-gray-500 dark:text-gray-400;
                    }

                    &.fi-color {
                        @apply bg-color-100 dark:bg-color-500/20;

                        & > .fi-icon {
                            @apply text-color-600 dark:text-color-400;
                        }
                    }
                }
            }

            & .fi-converse-attachment-modal-content {
                @apply flex w-full flex-col items-center gap-y-2 text-center;

                & .fi-converse-attachment-modal-heading {
                    @apply w-full break-words font-semibold leading-6 text-gray-950 dark:text-white;
                }

                & .fi-converse-attachment-modal-description {
                    @apply w-full break-words text-sm text-gray-500 dark:text-gray-400;
                }
            }
        }
    }

    & .fi-converse-conversation-thread-header {
        @apply min-h-1/8 flex flex-wrap items-center gap-4 border-b border-gray-200 p-6 dark:border-white/10;

        & .fi-converse-conversation-thread-header-content {
            @apply flex min-w-0 flex-1 items-center gap-4;

            & .fi-converse-conversation-thread-header-expand-list-button {
                @apply block flex-shrink-0 lg:hidden;
            }

            & .fi-converse-conversation-thread-header-heading {
                @apply truncate text-xl font-bold leading-6 text-gray-950 dark:text-white;
            }
        }

        & .fi-converse-conversation-thread-header-actions {
            @apply flex items-center gap-2;
        }
    }

    & .fi-converse-conversation-thread-message-box {
        @apply flex flex-1 flex-col gap-3 p-6;

        &.fi-converse-relative {
            @apply relative;
        }

        & .fi-converse-conversation-thread-upload-validation-message-container {
            @apply absolute left-0 right-0 top-0 flex w-full items-center justify-center px-6 py-1.5 bg-danger-100/95 dark:bg-danger-500/30;

            & > p {
                @apply w-full break-words text-center text-sm text-gray-500 dark:text-gray-400;
            }
        }

        & .fi-converse-conversation-thread-message-container {
            @apply flex gap-2;

            & .fi-converse-conversation-thread-message-avatar {
                @apply self-end;
            }

            & .fi-converse-conversation-thread-message-content {
                & .fi-converse-conversation-thread-message-details {
                    @apply flex gap-3 text-xs text-gray-600 dark:text-gray-400;

                    & .fi-converse-conversation-thread-message-author {
                        @apply max-w-1/2;
                    }

                    & .fi-converse-conversation-thread-message-time {
                        @apply max-w-1/2;
                    }
                }

                & .fi-converse-conversation-thread-message-body {
                    @apply flex items-center gap-2;

                    & .fi-converse-conversation-thread-message {
                        @apply bg-primary-200 max-w-4/5 whitespace-normal break-words rounded-xl px-3 py-1 text-sm leading-6 text-gray-950 dark:text-white;
                    }

                    & .fi-converse-conversation-thread-message-actions {
                        @apply flex gap-3 opacity-0 group-hover:opacity-100;
                    }
                }
            }

            &.fi-converse-conversation-thread-message-container-reversed {
                @apply flex-row-reverse;

                & .fi-converse-conversation-thread-message-content {
                    @apply items-end;
                }

                & .fi-converse-conversation-thread-message-details {
                    @apply flex-row-reverse;
                }

                & .fi-converse-conversation-thread-message-body {
                    @apply flex-row-reverse;
                }
            }
        }

        & .fi-converse-conversation-thread-empty-state {
            @apply flex flex-1 items-center;
        }
    }

    & .fi-converse-conversation-thread-message-input-container {
        @apply min-h-1/8 flex flex-col border-t border-gray-200 p-6 dark:border-white/10;
    }
}
