.fi-converse-conversation-list {
    @apply flex max-h-[calc(100vh-10rem)] min-h-[calc(100vh-10rem)] flex-1 flex-col rounded-xl bg-white shadow-sm ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10;

    & .fi-converse-conversation-list-header {
        @apply flex flex-col gap-6 px-6 pb-3 pt-6;

        & .fi-converse-conversation-list-header-top {
            @apply flex flex-wrap gap-3;

            & .fi-converse-conversation-list-header-content {
                @apply flex flex-col justify-center;

                &:not(.fi-converse-below-lg) {
                    @apply flex-1;
                }

                & .fi-converse-conversation-list-header-title {
                    @apply flex items-center gap-3;

                    & .fi-converse-conversation-list-header-heading {
                        @apply text-xl font-bold leading-6 text-gray-950 dark:text-white;
                    }
                }

                & .fi-converse-conversation-list-header-description {
                    @apply mt-1 text-sm text-gray-600 dark:text-gray-400;
                }
            }

            & .fi-converse-conversation-list-header-close-button {
                @apply ml-auto self-start;
            }

            & .fi-converse-conversation-list-header-actions {
                @apply flex flex-wrap items-center gap-2;

                &.fi-converse-actions-full-width {
                    @apply w-full;
                }
            }
        }

        & .fi-converse-conversation-list-header-bottom {
            @apply flex flex-col gap-4;

            & .fi-converse-conversation-list-header-bottom-actions {
                @apply flex gap-3;
            }
        }
    }

    & .fi-converse-conversation-area {
        @apply flex flex-col gap-3 overflow-y-auto px-6 pb-6 pt-3;

        & .fi-converse-conversation-list-item {
            @apply min-h-18 flex cursor-pointer items-center gap-3 rounded-xl p-2;

            &[disabled] {
                @apply pointer-events-none cursor-default opacity-80;
            }

            &:is(
                .fi-converse-conversation-list-item-active,
                .fi-converse-conversation-list-item-unread,
                :hover
            ) {
                @apply bg-gray-100 dark:bg-white/5;
            }

            & .fi-converse-conversation-list-item-content {
                @apply min-w-0 flex-1;

                & .fi-converse-conversation-list-item-title {
                    @apply flex items-center justify-between gap-2;

                    & .fi-converse-conversation-list-item-heading {
                        @apply truncate text-sm font-semibold leading-6 text-gray-950 dark:text-white;
                    }

                    & .fi-converse-conversation-list-item-time-indicator {
                        @apply flex-shrink-0 text-sm text-gray-600 dark:text-gray-400;
                    }
                }

                & .fi-converse-conversation-list-item-last-message-description {
                    @apply truncate pt-1.5 text-sm text-gray-600 dark:text-gray-400;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .fi-converse-conversation-list {
        @apply absolute top-6 z-10 h-full max-w-sm;
    }
}
