& .fi-converse-message-input {
    & .CodeMirror-scroll {
        max-height: 8rem;
        overflow-y: auto;
    }
}

& .fi-converse-attachment-area {
    @apply max-h-22 grid gap-3 overflow-y-auto p-3;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));

    & .fi-converse-attachment-image-container {
        @apply relative h-16 w-16;
        grid-column: span 1;

        & .fi-converse-attachment-image {
            @apply h-full w-full rounded-xl object-cover;
        }

        & .fi-converse-attachment-image-remove-button {
            @apply absolute right-1 top-1 text-white;
        }
    }

    & .fi-converse-attachment-item-container {
        @apply flex h-16 gap-3 rounded-xl bg-white p-2 shadow-sm ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10;
        grid-column: span 3;

        & .fi-converse-attachment-item-image {
            @apply w-12 rounded-xl object-cover;
        }

        & .fi-converse-attachment-icon {
            @apply rounded-full bg-gray-100 p-3 dark:bg-white/5;
        }

        & .fi-converse-attachment-information-container {
            @apply flex w-full min-w-0;

            &.fi-converse-attachment-has-formatted-mime-type-name {
                @apply flex-col gap-2;

                & .fi-converse-attachment-formatted-mime-type-badge {
                    @apply w-fit;
                }
            }

            &:not(.fi-converse-attachment-has-formatted-mime-type-name) {
                @apply items-center;
            }

            & .fi-converse-attachment-name {
                @apply truncate text-sm leading-6 text-gray-950 dark:text-white;
            }
        }
    }
}

& .fi-converse-conversation-thread-message-input-container {
}

& .fi-converse-message-input-footer {
    @apply flex items-center justify-between rounded-b-lg border-b border-l border-r border-gray-950/10 bg-white p-3 shadow-sm transition duration-75 dark:border-white/20 dark:bg-white/5;

    & .fi-converse-message-input-footer-left-actions {
        @apply flex items-center gap-3;
    }

    & .fi-converse-message-input-footer-right-actions {
        @apply flex items-center gap-3;
    }
}
