.fi-converse-message-input {
    & .fi-converse-message-input-header {
        @apply bg-red-600 p-3;

        & .fi-converse-message-input-header-item {
        }
    }

    & .fi-converse-message-input-footer {
        @apply flex items-center justify-between p-3;

        & .fi-converse-message-input-footer-left-actions {
            @apply flex items-center gap-3;
        }

        & .fi-converse-message-input-footer-right-actions {
            @apply flex items-center gap-3;
        }
    }
}
